@import '~@patternfly/patternfly/sass-utilities/colors';

$skeleton-animation: loading-skeleton 1s ease-out .15s infinite alternate;
$skeleton-color: #eaedf1;


.ceph-capacity-breakdown-card__stack-chart {
    margin-top: -55px;
}

.ceph-capacity-breakdown-card__body {
    padding-top: 24px;
}

.ceph-capacity-breakdown-card__header{
    display: flex;
}

.ceph-capacity-breakdown-card__monitoring-header-link {
    padding: 0.3rem;
    margin-right: 1rem;
}

.skeleton-activity {
  animation: $skeleton-animation;
  background: $skeleton-color;
  opacity: 0;
  border-radius: 6px;
  margin: 0.5rem 0.7em 0.5rem 0.7em;
  &::after {
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
  }
}

.skeleton-stack-available-bar {
  background-color: $pf-color-white;
  animation: none; 
}

.skeleton-stack-bar{
  margin: 0.2rem 0.7em 0.2rem 0.7em;
}

.skeleton-stack-legend {
  margin: 1.5rem 0.7em 1.5rem 0.7em;
  height: 50px;
}
