@import '~@patternfly/patternfly/sass-utilities/colors';

$skeleton-animation: loading-skeleton 1s ease-out .15s infinite alternate;
$skeleton-color: #eaedf1;

.ceph-breakdown-card__available-body {
  float: right;
  font-weight: var(--pf-global--FontWeight--normal);
}

.ceph-breakdown-capacity-body {
  font-size: 0.9rem;
}

.ceph-breakdown-card__header-link {
  padding: 0.3rem;
  margin-right: 1rem;
}

.ceph-breakdown-chart__legend-link {
  &:link {
    text-decoration: none; 
  }
}

.skeleton-activity {
  animation: $skeleton-animation;
  background: $skeleton-color;
  opacity: 0;
  border-radius: 6px;
  margin: 0.5rem 0.7em 0.5rem 0.7em;
  &::after {
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
  }
}

.skeleton-stack-no-show {
  background-color: $pf-color-white;
  animation: none; 
}

.skeleton-stack-bar{
  margin: 0.2rem 0.7em 0.2rem 0.7em;
}

.skeleton-stack-legend {
  margin: 1.5rem 0.7em 1.5rem 0.7em;
  height: 50px;
}
