.co-buckets-card {
    margin-bottom: 1rem;
}

.co-buckets-card__row {
    display: flex;
    border-bottom: 1px solid $pf-color-black-300;
    font-size: 1rem;
    padding: 1em 0;
    justify-content: space-between;
  }
  
  .co-buckets-card__row-title {
    margin-right: 0.5em;
  }

  .co-buckets-card__row-subtitle {
    font-size: 0.875rem;
    color: $pf-color-black-500;
  }
  
  .co-buckets-card__row-status {
    :last-child {
      margin-right: 0;
    }
  }
  
  .co-buckets-card__row-status-item {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
    flex-shrink: 0;
  }
  
  .co-buckets-card__row-status-item-text {
    margin-left: 0.25em;
  }

  