.ceph-capacity-breakdown-card__stack-chart {
    margin-top: -55px;
}

.ceph-capacity-breakdown-card__body {
    padding-top: 24px;
}

.ceph-capacity-breakdown-card__header{
    display: flex;
}

.ceph-capacity-breakdown-card__monitoring-header-link {
    padding: 0.3rem;
    margin-right: 1rem;
}
