.ceph-volume-snapshot-modal--input {
    margin-top: var(--pf-global--spacer--md) !important;
    display: grid !important;
    margin-right: var(--pf-global--spacer--md) !important;
  }
  
.ceph-volume-snapshot-modal--label {
    width: fit-content !important;
}

.ceph-volume-snapshot-modal--link {
    padding-left: 70px;
}

.ceph-volume-snapshot-modal--count {
    width: fit-content;
}

.ceph-volume-snapshot-modal--input__keep {
    display: inline-flex;
}

.ceph-volume-snapshot-modal--span_keep {
    font-size: var(--pf-global--FontSize--md);
    padding: 5px;
}

.ceph-volume-snapshot-modal--inline {
    display: inline-flex;
}

.ceph-volume-snapshot-modal--input__group {
    display: grid;
}
